form[name=report_form] > table > tbody > tr:last-child {
    display: none;
}

#tblFormButtons {
    margin-top: 10px;
    margin-bottom: 50px;
}

#timeTable td {
    padding-top: 20px;
    padding-bottom: 20px;
}

#timeTable+div {
    margin-top: 30px;
}

#timeTable+div+div {
    margin-bottom: 30px;
}

#timeTable+div font, #timeTable+div+div font {
    color: #ccc;
}

#timeTable+div input, #timeTable+div+div input {
    color: #ccc;
    border-color: transparent;
}

#tblFormIcons tr > td:first-child font {
    color: #ccc;
}

#tblFormIcons tr > td:first-child input {
    color: #ccc;
    background-color: transparent;
    border-color: transparent;
}