@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=latin-ext");

@-webkit-keyframes bcgpos {
  from {
    background-position: 0;
  }  
  to {
    background-position: 20px;
  }
}
@keyframes heartbeat {
   from {
    background-position: 0;
  }  
  to {
    background-position: 20px;
  }
}

body, * {
    font-family: Montserrat !important;
}

.wl, .brC-aT5-aOt-Jw.brC-aMv-auO {
    background: #002B55;
}
.yO {
    background: rgba(2, 22, 42, 0.8);
}
.zA>.PE.PF::before,
#gb,
.J-KU-Jg.J-KU-Jg-Zc.aj5,
.aim.ain > div,
.T-I-atl
{
    background-color: #80C565 !important;
}
.nH.oy8Mbf.nn.aeN {
    background-color: #002B55 !important;
    box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4);
}
.zE {
   background: rgba(128,197,101,0.892);
    /*background: #002B55;*/
    box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4);
    margin: 5px 0;
    border-radius: 3px;
}

.zA.zE:before {
    background-image: url('https://image.ibb.co/gVVkRU/dnapattern.png');
    background-size: 20px;
    content: ' ';
    height: calc(100% - 1px);   
    margin-top: 1px;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 0;
    opacity: 0.1
                                            
}

.zA.zE td {
    z-index: 1;
}

.zA.zE:after {
    background-color: #FFF;
    background-image: url('https://image.ibb.co/gVVkRU/dnapattern.png');
    background-size: 20px;
    content: ' ';
    height: calc(100% - 1px);   
    margin-top: 1px;
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    background-color: white !important;
    z-index: 10;
    
    -webkit-animation: bcgpos 2s linear infinite both;
	        animation: bcgpos 2s linearinfinite both;
}


.brC-aMv-auO .brC-dA-I.aT5-aOt-I-Jp .aT5-aOt-I-JX-Jw {
	background: rgba(2, 22, 42, 0.8);
}

.Tm.aeJ {
    display: flex;
    flex-direction: column;
}

.aeF {
    flex: 1;
}

.aeG > div > div {
    display:none;
}

.aeG > div:before {
	    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20466.51%2056.89%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAsset%2014%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C12.37H9.82L15.31%2C33.1l6.44-20.85H30.1l6.51%2C20.92%2C5.61-20.8h9.63L41.2%2C46.82H32.46l-6.56-21-6.7%2C21H10.52Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M54.47%2C29.66v-.13c0-9.76%2C7-17.79%2C16.9-17.79C82.79%2C11.74%2C88%2C20.6%2C88%2C30.3c0%2C.76-.06%2C1.65-.13%2C2.55H64.1c1%2C4.4%2C4%2C6.69%2C8.36%2C6.69%2C3.25%2C0%2C5.61-1%2C8.29-3.5L86.3%2C41a17.11%2C17.11%2C0%2C0%2C1-14%2C6.38C62.06%2C47.33%2C54.47%2C40.12%2C54.47%2C29.66Zm24.11-2.87c-.57-4.34-3.12-7.27-7.21-7.27S64.74%2C22.39%2C64%2C26.79Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M92.87%2C18.43c4.4-.44%2C6.57-2.68%2C6.25-6.31h-4V1.91H105.5v8.61c0%2C8.42-4.21%2C11.8-11.8%2C11.93Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M110.41%2C12.37h10.27l7.65%2C22.9%2C7.72-22.9h10.08L132.67%2C46.82h-8.8Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M148.17%2C29.66v-.13c0-9.76%2C7-17.79%2C16.9-17.79%2C11.42%2C0%2C16.65%2C8.86%2C16.65%2C18.56%2C0%2C.76-.06%2C1.65-.13%2C2.55H157.8c1%2C4.4%2C4%2C6.69%2C8.36%2C6.69%2C3.25%2C0%2C5.61-1%2C8.29-3.5L180%2C41a17.11%2C17.11%2C0%2C0%2C1-14%2C6.38C155.76%2C47.33%2C148.17%2C40.12%2C148.17%2C29.66Zm24.11-2.87c-.57-4.34-3.13-7.27-7.21-7.27s-6.63%2C2.87-7.4%2C7.27Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M208.25%2C53.32l3.32-7.27a22.31%2C22.31%2C0%2C0%2C0%2C11.55%2C3.13c6.63%2C0%2C9.75-3.19%2C9.75-9.32V38.21c-2.87%2C3.44-6%2C5.54-11.16%2C5.54-8%2C0-15.18-5.8-15.18-15.94v-.13c0-10.2%2C7.34-15.94%2C15.18-15.94%2C5.3%2C0%2C8.42%2C2.23%2C11%2C5.1V12.37h9.69V38.84c0%2C6.13-1.47%2C10.59-4.34%2C13.46-3.18%2C3.19-8.1%2C4.59-14.73%2C4.59A32.41%2C32.41%2C0%2C0%2C1%2C208.25%2C53.32Zm24.62-25.51v-.13c0-4.66-3.63-7.91-8.35-7.91s-8.29%2C3.25-8.29%2C7.91v.13c0%2C4.72%2C3.57%2C7.91%2C8.29%2C7.91S232.87%2C32.46%2C232.87%2C27.81Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M249.46%2C29.66v-.13c0-9.82%2C7.91-17.79%2C18.56-17.79s18.43%2C7.84%2C18.43%2C17.66v.13c0%2C9.82-7.91%2C17.8-18.56%2C17.8S249.46%2C39.48%2C249.46%2C29.66Zm27.42%2C0v-.13c0-5-3.63-9.44-9-9.44-5.55%2C0-8.86%2C4.27-8.86%2C9.31v.13c0%2C5%2C3.63%2C9.44%2C9%2C9.44C273.57%2C39%2C276.88%2C34.7%2C276.88%2C29.66Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M295.06%2C36.87V20.67H291v-8.3h4.08V3.64h9.7v8.73h8v8.3h-8v14.6c0%2C2.23%2C1%2C3.32%2C3.12%2C3.32a10%2C10%2C0%2C0%2C0%2C4.79-1.21v7.78a14.31%2C14.31%2C0%2C0%2C1-7.66%2C2C299.08%2C47.13%2C295.06%2C44.77%2C295.06%2C36.87Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M340.67%2C36.87V20.67h-4.08v-8.3h4.08V3.64h9.69v8.73h8v8.3h-8v14.6c0%2C2.23%2C1%2C3.32%2C3.13%2C3.32a9.91%2C9.91%2C0%2C0%2C0%2C4.78-1.21v7.78a14.3%2C14.3%2C0%2C0%2C1-7.65%2C2C344.69%2C47.13%2C340.67%2C44.77%2C340.67%2C36.87Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M365.54%2C0h9.7V17.22c2.23-2.87%2C5.1-5.48%2C10-5.48%2C7.34%2C0%2C11.61%2C4.84%2C11.61%2C12.69V46.56h-9.69V27.49c0-4.59-2.17-6.95-5.87-6.95s-6.06%2C2.36-6.06%2C7V46.56h-9.7Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M405.47%2C0h10.21V8.61H405.47Zm.26%2C12.37h9.69V46.56h-9.69Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M421.86%2C42%2C426%2C35.65c3.7%2C2.68%2C7.59%2C4.09%2C10.78%2C4.09%2C2.81%2C0%2C4.08-1%2C4.08-2.56v-.12c0-2.11-3.31-2.81-7.08-4-4.78-1.4-10.2-3.63-10.2-10.27v-.12c0-7%2C5.61-10.85%2C12.5-10.85a23.59%2C23.59%2C0%2C0%2C1%2C12.75%2C4l-3.69%2C6.69c-3.38-2-6.77-3.18-9.25-3.18s-3.58%2C1-3.58%2C2.36v.12c0%2C1.92%2C3.26%2C2.81%2C7%2C4.09%2C4.78%2C1.59%2C10.33%2C3.89%2C10.33%2C10.14v.12c0%2C7.59-5.68%2C11-13.08%2C11A24%2C24%2C0%2C0%2C1%2C421.86%2C42Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M456.18%2C36.36h10.33v10.2H456.18Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') ;
    background-position: center ;
    background-repeat: no-repeat ;
    content: '' ;
    height: 28px ;
    text-indent: -99999px ;
    width: 130px ;
    position: absolute;
    z-index: 111;
    bottom: 10px;
    margin-left: -65px;
}

.pH.a9q {
    filter: hue-rotate(42deg);
}

.T-KT.T-KT-Jp {
    filter: brightness(280%);
}

.iY .Bu {
    border-radius: 10px;
}

.nH.bkK.nn {
	padding: 15px;
}

.brc {
    background: rgba(0,0,0,0.1);
}
.gb_Rb img {
	display: none;
}
    
.gb_Rb:after {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20456.82%2089.62%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3E_tretton37%20logo%20white%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M16.19%2C74.86a27.32%2C27.32%2C0%2C0%2C1-6.86-.8%2C11.4%2C11.4%2C0%2C0%2C1-4.89-2.64%2C12.94%2C12.94%2C0%2C0%2C1-3.23-5A24%2C24%2C0%2C0%2C1%2C0%2C58.1V0H14V14.76H28.47V27H14V55.33c0%2C5%2C2.61%2C7.72%2C7.35%2C7.72a21%2C21%2C0%2C0%2C0%2C6.89-1V72.28A33.94%2C33.94%2C0%2C0%2C1%2C23.39%2C74%2C26%2C26%2C0%2C0%2C1%2C16.19%2C74.86Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M240.23%2C74.87c-12.88%2C0-25-7.41-29.46-19.72a30.1%2C30.1%2C0%2C0%2C1%2C9.83-33.82A33.44%2C33.44%2C0%2C0%2C1%2C256.84%2C19%2C30%2C30%2C0%2C0%2C1%2C271%2C51c-2.61%2C12.48-13.44%2C21.82-25.92%2C23.53A36.25%2C36.25%2C0%2C0%2C1%2C240.23%2C74.87Zm0-49.06a17.38%2C17.38%2C0%2C0%2C0-16.64%2C12.45c-2.25%2C7.29-.4%2C15.74%2C5.47%2C20.79a18%2C18%2C0%2C0%2C0%2C20.72%2C1.7c6.55-4%2C9.18-12.18%2C7.94-19.53C256.27%2C32.68%2C249%2C25.81%2C240.23%2C25.81Z%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22402.4%2014.76%20402.4%2027.02%20441.25%2027.02%20406.7%2089.62%20422.68%2089.62%20456.82%2025.82%20456.82%2014.76%20402.4%2014.76%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M305%2C14.76H278.67v60.1h14V27h12.77a11%2C11%2C0%2C0%2C1%2C8.07%2C3.1c3.89%2C4.11%2C3.89%2C13.42%2C3.89%2C20.69V74.86h14V41.12C331.4%2C18.18%2C314.88%2C14.76%2C305%2C14.76Z%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2254.14%2014.76%2038.47%2014.76%2038.47%2074.86%2052.47%2074.86%2052.47%2027.01%2067.05%2027.01%2054.14%2014.76%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M119.4%2C68.2a32.45%2C32.45%2C0%2C0%2C1-7.92%2C6.23%2C23.94%2C23.94%2C0%2C0%2C1-11.57%2C2.68%2C14.17%2C14.17%2C0%2C0%2C1-9.32-3%2C10.43%2C10.43%2C0%2C0%2C1-3.78-8.41v-.23a10.09%2C10.09%2C0%2C0%2C1%2C4.94-9c3-1.92%2C7.24-2.9%2C12.53-2.9h2.38l2.19-8.92L91.33%2C27h33.72V14.76h-51v11L93.22%2C44l-.15%2C0a39.83%2C39.83%2C0%2C0%2C0-7.66%2C2.09A21.81%2C21.81%2C0%2C0%2C0%2C79%2C49.93a17.82%2C17.82%2C0%2C0%2C0-4.48%2C6%2C21%2C21%2C0%2C0%2C0-1.68%2C8.86v.23a25%2C25%2C0%2C0%2C0%2C1.88%2C9.83%2C23%2C23%2C0%2C0%2C0%2C5.38%2C7.75%2C24.5%2C24.5%2C0%2C0%2C0%2C8.57%2C5.14%2C34.1%2C34.1%2C0%2C0%2C0%2C11.49%2C1.85c7%2C0%2C12.94-1.24%2C17.76-3.69a38.59%2C38.59%2C0%2C0%2C0%2C11.21-8.47Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M347.05%2C68.2A32.68%2C32.68%2C0%2C0%2C0%2C355%2C74.43a23.87%2C23.87%2C0%2C0%2C0%2C11.56%2C2.68%2C14.15%2C14.15%2C0%2C0%2C0%2C9.32-3%2C10.43%2C10.43%2C0%2C0%2C0%2C3.78-8.41v-.23a10.1%2C10.1%2C0%2C0%2C0-4.93-9c-3-1.92-7.25-2.9-12.53-2.9h-2.39l-2.19-8.92L375.13%2C27H341.4V14.76h51v11L373.23%2C44l.15%2C0a40.13%2C40.13%2C0%2C0%2C1%2C7.67%2C2.09%2C22.07%2C22.07%2C0%2C0%2C1%2C6.43%2C3.83A17.8%2C17.8%2C0%2C0%2C1%2C392%2C56a21%2C21%2C0%2C0%2C1%2C1.69%2C8.86v.23a25%2C25%2C0%2C0%2C1-1.89%2C9.83%2C23%2C23%2C0%2C0%2C1-5.38%2C7.75%2C24.5%2C24.5%2C0%2C0%2C1-8.57%2C5.14%2C34.06%2C34.06%2C0%2C0%2C1-11.49%2C1.85c-7%2C0-12.94-1.24-17.76-3.69a38.42%2C38.42%2C0%2C0%2C1-11.2-8.47Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M151.28%2C74.88a26.84%2C26.84%2C0%2C0%2C1-6.86-.81%2C11.28%2C11.28%2C0%2C0%2C1-4.89-2.63%2C13.09%2C13.09%2C0%2C0%2C1-3.23-5%2C24%2C24%2C0%2C0%2C1-1.21-8.29V0h14V14.77h14.47V27H149.09V55.34c0%2C5%2C2.61%2C7.72%2C7.35%2C7.72a21%2C21%2C0%2C0%2C0%2C6.89-1V72.29A31.64%2C31.64%2C0%2C0%2C1%2C158.48%2C74%2C25.56%2C25.56%2C0%2C0%2C1%2C151.28%2C74.88Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M189.74%2C74.88a26.76%2C26.76%2C0%2C0%2C1-6.85-.81A11.22%2C11.22%2C0%2C0%2C1%2C178%2C71.44a13%2C13%2C0%2C0%2C1-3.23-5%2C23.81%2C23.81%2C0%2C0%2C1-1.21-8.29V0h14V14.77H202V27H187.55V55.34c0%2C5%2C2.62%2C7.72%2C7.36%2C7.72a20.88%2C20.88%2C0%2C0%2C0%2C6.88-1V72.29A31.52%2C31.52%2C0%2C0%2C1%2C197%2C74%2C25.63%2C25.63%2C0%2C0%2C1%2C189.74%2C74.88Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') ;
    background-position: center ;
    background-repeat: no-repeat ;
    content: '' ;
    height: 28px ;
    text-indent: -99999px ;
    width: 130px ;
    position: absolute;
    z-index: 111;
    margin-left: 10px;
    margin-top: -1px;
}

.gb_fa.gb_7f.gb_f { 
    width: auto !important;
    background: transparent;
    border: none;
}

.gb_ga {
    display: none;
}

.nH.bkK.nn {
    position: relative;
}

.nH.bkK.nn:before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    background: url(https://tretton37img.blob.core.windows.net/miscellaneous/_abstract_background);
    background-size: cover;
    opacity: 0.5;
}

.nH.bkK.nn > div {
    z-index: 1;
}

/* LOADING */
#loading {
    background-color: #002B55;
    background: url(https://tretton37img.blob.core.windows.net/miscellaneous/_abstract_background);
    background-size: cover;
    background-size: cover;
    z-index: 1001;
}

#loading > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1), #loading > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    background: #80C565 !important;
}

#nlpt::before,
.Hy .m,
.bAp.b8.UC .vh{
    background: #80C565;
}

div.b8 .a8k, .bAo>.ad {
 color: #002B55;
}

.msg {
    color: #FFF;
    visibility: hidden;
}

.msg:before {
    color: #FFF;
    content: "Loading tretton37 leetmail";
    display: block;
    visibility: visible;
}

.gb_Ta svg, .gb_mc svg {
    color: #E9F6F6;
}

.Hn, .Hr, .Hb {
	background-color: transparent !important;
}

.msgb, .msgb a:link, .msgb a:visited {
    color: rgba(255,255,255,0.3);
}

.T-I.J-J5-Ji.T-I-KE.L3 {
    min-width: 0;
    width: calc(100% - 40px);
    overflow: hidden;
    text-indent: -9999px;
    color: rgba(0,0,0,0);
    
}
.T-I.J-J5-Ji.T-I-KE.L3:before {
	content: '';
    width: 100%;
    height: 100%;
    background-image: url('https://image.ibb.co/gVVkRU/dnapattern.png');
    position: absolute;
    z-index: 0;
    background-repeat: repeat;
    opacity: 0.1;
}
.T-I.J-J5-Ji.T-I-KE.L3:after {
	content: '➕Compose mail';
    text-indent: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    color: #002B55;
    line-height: 340%;
}

.TD {
    background: rgba(2, 22, 42, 0.4);
}
