@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');

*{
    background: white!important;
    color: black!important;
    font-family: 'Montserrat', sans-serif!important;

}

.visma-title{
    font-weight: normal!important;
}